* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #fccc04;
  --blue: #04a3db;
  --red: #da1027;
}

.App {
  /* border: 2px solid magenta; */
  width: 100dvw;
  background-color: whitesmoke;
  /* height: 100dvh; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  width: 100dvw;
  height: 7dvh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  padding-left: 2dvw;
  padding-right: 4dvw;
}

.bricksFigs {
  /* border: 2px solid red; */
  width: 20dvh;
  /* margin-right: auto; */
}

.banner {
  /* border: 2px solid blue; */
  width: 100vw;
  height: 20vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.storeHours,
.holidayHours,
.regularHours {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.storeHours {
  /* border: 2px solid red; */
  width: 75%;
  padding: 3.5dvh 0 9dvh 0;
  gap: 1.5dvh;
}
.holidayHours {
  /* border: 2px solid yellow; */

}
.regularHours {
  /* border: 2px solid green; */
}

.contactEvent {
  border: 1px solid black;
  background-color: var(--yellow);
  border-radius: 5px;
  width: 40%;
  height: 7dvh;
  margin-top: -3.5dvh;
  margin-bottom: -3.5dvh;
  z-index: 10;
  font-size: 2.5dvh;
}
.storeContainer {
  background-color: var(--blue);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 9dvh 0 9dvh 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 5dvh;
}

.infoContainer {
  position: relative;
  width: 75%;
  height: 24dvh;
  /* border-radius: 40px; */
  box-shadow: 0px 0px 10px 1px black;
  border-radius: 10px;

  .bannerImage {
    border-radius: 10px;
  }

}
.textOverlay {
  background-color: rgba(255, 255, 255, 0.63);
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.socialDetails {
  width: 100%;
  background-color: whitesmoke;
  height: 30dvh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2dvh;
}
.connectionPortals {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2dvh;
  font-size: 5.5dvh;
  color: var(--blue)
}

.copyright {
  margin: 5dvh 0 10dvh 0;
}
